* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  border: 5px solid black;
  display: flex;
  align-items: center;
  background-color: rgb(91, 189, 228);
}

h1 {
  background-color: grey;
  margin-left: 10px;
}

h2 {
  border: 5px solid teal;
  height: 75px;
  width: 150px;
  text-align: right;
}

h3 {
  border: 5px solid grey;
}

.container1,
.container2 {
  display: flex;
  border: 2px solid green;
  margin: 5px;
}

/* .container2 {
  display: flex;
  border: 2px solid green;
  margin: 5px;
} */

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#proj1 {
  flex-grow: 2;
  width: 100%;
}

#proj2 {
  flex-grow: 1;
  width: 50%;
}

footer {
  display: flex;
  border: 5px solid black;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  display: inline;
}

nav {
  justify-content: space-between;
}

.about-me {
  border: 2px solid blue;
}

li {
  text-decoration: underline;
}
