* {
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 10px;
  border: 5px solid orangered;
}

h2 {
  border: 5px solid teal;
  height: 75px;
  min-width: 135px;
  text-align: left;
  margin: 10px;
}

div {
  border: 5px solid grey;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
  border: 10px solid yellow;
}
/* flex parent */
.container1 {
  display: flex;
  border: 5px solid green;
  /* margin: 20px; */
  padding: 10px;
  justify-content: space-between;
}

/* .container2 {
  display: flex;
  border: 2px solid green;
  margin: 5px;
} */

/* flex parent */
.projects {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* max-width: 100%; */
  border: 2px solid salmon;
}

.proj1 {
  flex-grow: 2 1 800px;
  width: 100%;
  min-height: 150px;
}

.proj2 {
  flex-grow: 1 1 400px;
  width: 50%;
  min-height: 150px;
}

footer {
  display: flex;
  border: 5px solid black;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style: none;
  display: inline;
  text-decoration: underline;
  margin-right: 10px;
}

.about-me {
  border: 2px solid blue;
  margin: 5px;
}

footer li {
  margin: 10px;
  text-decoration: none;
  display: inline;
}

@media screen and (max-width: 400px) {
  footer,
  nav {
    flex-direction: column;
  }
  #contact-me {
    text-align: center;
  }
  li {
    display: block;
    text-align: center;
  }
}
